<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, illo. Similique, obcaecati. Ab natus doloribus cupiditate quaerat impedit numquam. Perspiciatis ducimus dicta possimus beatae obcaecati iste esse est officia aperiam.</p>
  </div>
</div>