<div class="jumbotron mt-4">
  <h1 class="display-4">Notes app Nodejs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cupiditate reprehenderit incidunt cumque, dolores dolorem voluptas hic vero in, enim fugiat voluptatum quaerat repudiandae nulla voluptates atque maxime ipsum culpa!</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia qui laborum quibusdam tempore rerum perspiciatis? Sit laborum nobis ex soluta similique, cupiditate id nam reiciendis possimus atque nesciunt excepturi saepe.</p>
  <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>